<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <body>
    <div th:fragment="header">
        <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>○○○ 병원</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{css/styles.css}" rel="stylesheet" />
    </head>
 
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">○○○ 병원</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">홈</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{about}">소개</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{department}">진료과목</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{board/}">게시판</a></li>
                    </ul>
                <form class="d-flex">
    				<button class="btn btn-outline-success me-2" type="button"onclick="location.href='/register'">회원가입</button>
    				<button class="btn btn-outline-success me-2" type="button"onclick="location.href='/login'">로그인</button>
  				</form>
                </div>
            </div>
        </nav>
           <header>
<div
  class="bg-image d-flex justify-content-center align-items-center bg-dark"
  style="background-image: url('/images/1.jpg'); background-repeat: no-repeat; background-position: center; height: 30vh;"
>
<h1 class="text-black">○○○병원</h1>
</div>
</header>
        </div>
        </body>
        </html>