<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Blog Home - Start Bootstrap Template</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />

</head>
<div th:insert="~{common/header::header}"></div>
<body>
	<!-- Page content-->
			<!-- Blog entries-->
				<!-- Featured blog post-->
				
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/3.jpg" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
   <br>
    <h5 class="mt-0">내과 ○○○원장</h5>
     <br>
      <br>
    <p>전문 진료 분야: 소화기내과</p>
     <br>
      <br>
       <br>
        <br>
         <br>
          <br>
    <a href="#" class="stretched-link">진료 예약하기</a>
  </div>
</div>
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/3.jpg" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
  <br>
    <h5 class="mt-0">내과 ○○ 원장</h5>
    <br>
     <br>
    <p>전문 진료 분야: 호흡기내과</p>
     <br>
      <br>
       <br>
        <br>
       <br>
          <br>
    <a href="#" class="stretched-link">진료 예약하기</a>
  </div>
</div>

   
	<div th:insert="~{common/footer::footer}"></div>
</body>
</html>
