<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/Reservation.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />

</head>
<body>
	<div id="header">
		<h2>○○○ 병원 예약시스템</h2>
	</div>
	
	<div id="container">
		<div id="content">
			<label>이미 에약된 기기입니다</label>
			<p></p>
			<td><input type="button" value="Back"
				onclick="javascript:history.back()"
				class="save" /></td>
		</div>
	</div>
	

</body>
</html>