<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/Reservation.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />


</head>
<body>
	<div id="header">
		<h2>○○○ 병원 예약시스템</h2>
		<p th:text="${#session.getAttribute('email')}"/>
	</div>
	
	<div id="container">
		<h3>예약 변경</h3>
		<form action="#" th:action="@{/addReserv}" th:object="${room}"
			method="post">
			<table>
				<tbody>
					<tr>
						<td><label>진료실번호:</label></td>
						<td><input type="text" th:value="*{id}" th:field="*{id}" /></td>
					</tr>
					<tr>
						<td><label>이름:</label></td>
						<td><input type="text" th:value="*{name}" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td><label>시간:</label></td>
						<td><input type="text" th:value="*{consultation_hours}" th:field="*{consultation_hours}" /></td>
					</tr>
					<tr>
						<td><label></label></td>
						<td><input type="submit" value="save" class="save" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	<td><input type="button" value="Back"
		onclick="window.location.href='/reserv'; return false" class="save" /></td>
	</div>

</body>
</html>